.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em 0 1.5em;
}

.nav a > svg path {
  stroke: rgb(var(--text-color-rgb));
}
  
.social {
  min-width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.social path {
  fill: rgb(var(--text-color-rgb));
}

/* Mobile */
@media (max-width: 900px) {
  .social {
    display: none;
  }
}

@supports (position: sticky) or (position: -webkit-sticky) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(var(--background-rgb));
    z-index: 2;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: rgb(var(--background-rgb));
  }
  .nav > svg path {
    stroke: rgb(var(--background-rgb));
  }

  .social > svg path {
    fill: rgb(var(--background-rgb));
  }
}