.project_title {
    font-size: 2.5em;
}

.project_tech_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.project_tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.project_tech > p, .project_tech > div {
    font-weight: 700;
    font-size: 1.1em;
    margin-inline-end: .6em;
}

.tech_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech_icon svg path {
    fill: rgb(var(--text-color-rgb));
}

.tech_icon:first-of-type path:last-of-type {
    fill: rgb(var(--background-rgb));
}

.highlight_button {
    width: 7.5em;
    background: none;
    background-color: rgb(var(--text-color-rgb));
    color: rgb(var(--background-rgb));
	border: none;
    border-radius: 5px;
	padding: .3em;
	font: inherit;
    font-weight: 600;
	cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight_button svg path {
    fill: rgb(var(--background-rgb));
}

/* Tablet and Smaller Desktop */
@media (min-width: 901px) and (max-width: 1170px) {
    .project_title {
        font-size: 2em;
    }
}

/* Mobile */
@media (max-width: 900px) {
    .project_title {
        font-size: 1.8em;
    }
}

/* Extremely Small Mobile */
@media (max-width: 500px) {
    .highlight_button {
        margin-block-start: 1em;
    }

    .project_tech {
        justify-content: flex-start;
    }
}

@media (prefers-color-scheme: dark) {
    .highlight_button {
        background-color: rgb(var(--text-color-rgb));
        color: rgb(var(--background-rgb));
    }

    .highlight_button svg path {
        fill: rgb(var(--background-rgb));
    }
    
}