.work_title {
    width: 100%;
    font-size: 3.5em;
    text-align: center;
    margin-block-end: 5vw;
}

.projects_wrapper {
    margin-block-start: 4vw;
    margin-block-end: 4vw;
    padding: 0 25vw 0 25vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
}

.projects_wrapper > div {
    margin-block-end: 2.5em;
}

.projects_wrapper div:nth-last-child(1) {
    margin-block-end: 0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 901px) and (max-width: 1170px) {
    .work_title {
        font-size: 3em;
    }

    .projects_wrapper {
        padding: 0 20vw 0 20vw;
    }
}

/* Mobile */
@media (max-width: 900px) {
    .work_title {
        font-size: 2.5em;
    }

    .projects_wrapper {
        padding: 0 15vw 0 15vw;
    }
}

/* Extremely Small Mobile */
@media (max-width: 400px) {
    .work_title {
        font-size: 2.2em;
        margin-block-end: 10vw;
    }

    .projects_wrapper {
        margin-block-start: 8vw;
        margin-block-end: 8vw;
    }
}